*{
    margin: 0px;
    padding: 0px;
}
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(36, 32, 32);
    padding-bottom: 10px;
    padding-top: 10px;
}

header h1 {
background-color: gold;
text-decoration-color: rgb(36, 32, 32);
padding-left: 40px;
padding-right: 5px;
padding-top: 5px;
padding-bottom: 5px;
}
header nav {
    display: flex;
    justify-content: space-evenly;
    float:right;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    text-decoration: none;
    color: gold;
    border-bottom: 2px solid gold;
}

.banner {
    width: 100%;
    Height: 150px;
    padding: 60px 0;
    text-align: center;
    background-image: url("./Bitcoin-Blockchain-Cryptocurrency-Currency-851x315.jpg")
}

.subtitle {
    caret-color: gold;
}